<!DOCTYPE html>
<html lang="es" ng-app="Proyecto">
  <head>
    <title>Proyecto Base | REST API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <meta http-equiv="Content-Language" content="es">
    <meta name="Subject" content="Expediente médico digital">
    <meta name="description" content="Expediente médico digital. Maneje la información más importante de sus pacientes, organice y planifique su agenda y la de su clínica, y maximice el potencial de su negocio.">
    <meta name="abstract" content="Expediente médico digital. Maneje la información más importante de sus pacientes,
    organice y planifique su agenda y la de su clínica, y maximice el potencial de su negocio.">
    <meta name="classification" content="agenda, expediente, expediente medico, agenda medica">
    <meta name="keywords" content="agenda, expediente, expediente medico, agenda medica">
    <meta name="country" content="Costa Rica">
    <link rel="shortcut icon" href="/public/imagenes/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/public/css/ProyectoBase.css">
    <link rel="stylesheet" type="text/css" href="/public/less/comps/login.css">
    <link rel="stylesheet" type="text/css" href="/public/bower_components/highlightjs/styles/monokai_sublime.css">

    <meta name="Robots" content="index,follow">
    <meta name="author" content="Ciris Informatic Solutions" >
    <meta name="revised" content="Ciris Informatic Solutions, 15/04/2014" />
  </head>
  <body ng-controller="APICtrl">
    <section class="container-fluid" style="padding-top: 1em;">
      <div class="row">
        <div class="col-md-3">
          <ul class="list-group">
            <a class="list-group-item"
            ng-repeat="doc in docs"
            ng-click="cargar(doc.archivo)">{{doc.nombre}}</a>
          </ul>
        </div>
        <div class="col-md-9">
          <section ng-repeat="api in apis" class="fx-bounce-down">
            <cis-recurso recurso="api"></cis-recurso>
          </section>
        </div>
      </div>
    </section>
    <footer id="footer" class="container-fluid bg-primary texto-blanco footer">
      <div class="row">
        <div class="col-md-12">
          <a href="http://www.ciriscr.com" target="_blank">
            <img src="/public/imagenes/Ciris-contraforma.png" alt="Mediciris" class="center-block img-responsive" style="height: 40px;">
          </a>
          <div class="text-center">
            <small>3-101-625445 | San José, Costa Rica</small>
          </div>
          <div class="text-center">
            <small>2014 © Todos los derechos reservados | <strong>Ciris Informatic Solutions S.A</strong></small>
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="/public/bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="/public/bower_components/highlightjs/highlight.pack.js"></script>
    <script type="text/javascript" src="/public/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/public/bower_components/ngFx/dist/ngFx.min.js"></script>
    <script type="text/javascript" src="/public/bower_components/angular-scroll/angular-scroll.min.js"></script>
    <script type="text/javascript" src="/public/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="/public/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/public/bower_components/angular-highlightjs/angular-highlightjs.js"></script>
    <script type="text/javascript" src="/public/api/logica.js"></script>
  </body>
</html>