<div class="panel panel-default">
  <div class="panel-heading">
    <p>
      <span class="lead">{{recurso.nombre}}: </span>
      <span class="text-info">{{recurso.descripcion}}</span>
    </p>
  </div>
  <div class="panel-body">
    <div class="panel"
    ng-repeat="servicio in recurso.servicios"
    ng-class="{'panel-success':servicio.metodo === 'GET',
    'panel-info':servicio.metodo === 'POST',
    'panel-primary':servicio.metodo === 'PUT',
    'panel-danger':servicio.metodo === 'DELETE'}">
    <div class="panel-heading texto-blanco cursor-pointer" ng-click="servicio.colapsado = !servicio.colapsado">
      <strong style="color: #fff;">{{servicio.metodo}}: {{recurso.urlBase}}{{servicio.url}}</strong>
    </div>
    <div class="panel-body" collapse="!servicio.colapsado">
      <section>
        <p>{{servicio.descripcion}}</p>
        <label ng-if="servicio.conAutenticado" class="label label-primary">Necesita credenciales</label>
        <label ng-if="servicio.conRecuperacionBasica" class="label label-info">Recuperaci&oacute;n b&aacute;sica</label>
        <label ng-if="servicio.con_aJSON" class="label label-default">A JSON</label>
        <h3>Request</h3>
        <div class="row">
          <div class="col-md-6">
            <legend>Headers</legend>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="header in servicio.request.headers">
                <label for="" class="label label-danger" ng-if="header.requerido">Requerido</label>
                <label for="" class="label label-info" ng-if="header.valorVariable">Variable</label>
                <span>{{header.header}} → {{header.valor}}  </span>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <legend>Params</legend>
            <table class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Requerido</th>
                  <th>Comentario</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="param in servicio.request.params">
                  <td>{{param.nombre}}</td>
                  <td>{{param.requerido && "Si" || "No"}}</td>
                  <td>{{param.comentario}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div ng-if="!vacio(servicio.request.body)">
          <legend>Body</legend>
          <div hljs source="toPrettyJSON(servicio.request.body)"></div>
        </div>
      </section>
      <hr class="colorgraph">
      <section>
        <h3>Responses</h3>
        <tabset>
          <tab ng-repeat="response in servicio.responses" heading="{{response.status}} {{response.nombre}}" active="response.active">
            <br>
            <p>{{response.comentarios}}</p>
            <legend>Headers</legend>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="header in response.headers">
                <label for="" class="label label-danger" ng-if="header.requerido">Requerido</label>
                <label for="" class="label label-info" ng-if="header.valorVariable">Variable</label>
                <span>{{header.header}} → {{header.valor}}  </span>
              </li>
            </ul>
            <div ng-if="!vacio(response.body)">
              <legend>Body</legend>
              <div hljs source="toPrettyJSON(response.body)"></div>
            </div>
          </tab>
        </tabset>
      </section>
    </div>
  </div>
</div>
</div>