<nav class="menu-contextual">
    <ul class="list-inline text-center">
      <li>&nbsp;</li>
    </ul>
    <hr class="colorgraph">
</nav>
<section class="fondoMedico">
    <h1 class="titulo"><i class="fa fa-home fa-fw"></i> Inicio</h1>
  </section>