<section ng-controller="ControladorNavegacion">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
  ng-if="logueado() && !rutaLibre()">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="colapsar()">
        <span class="sr-only">Navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <img src="/public/imagenes/Ciris-contraforma.png" class="img-responsive" style="height: 35px; margin-top: -5px;">
      </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" collapse="colapsado">
      <ul class="nav navbar-nav">
        <li ng-class="{active: location.path() === '/inicio'}" class="faa-parent animated-hover">
          <a href="/inicio"><i class="fa fa-home fa-fw faa-pulse"></i> Inicio</a>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search" novalidate name="busqueda"
            ng-submit="buscar(campoBusqueda)">
        <div class="form-group">
          <input type="search" class="form-control input-sm" placeholder="Buscar expedientes"
                 name="campoBusqueda" ng-required="true" ng-model="campoBusqueda">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle cursor-pointer" data-toggle="dropdown"><i class="fa fa-user-md fa-fw"></i> {{ nombreUsuario() }}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/inicio/perfil"><i class="fa fa-briefcase fa-fw"></i> Perfil</a></li>
            <li><a href="/inicio/ajustes"><i class="fa fa-cogs fa-fw"></i> Ajustes</a></li>
            <li class="divider"></li>
            <li><a ng-click="salir()" class="cursor-pointer"><i class="fa fa-eject fa-fw text-danger"></i> Salir</a></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</section>