<link rel="stylesheet" type="text/css" href="/public/less/comps/login.css">
<section class="credencialesinvalidos">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <fieldset class="cuadro-login texto-blanco text-center">
        <hr class="colorgraph">
        <h1 class="text-danger"><i class="fa fa-chain-broken fa-fw"></i> ¡Oh no! - 404</h1>
        <p>Al parecer, el recurso solicitado no existe</p>
        <hr class="colorgraph">
        </fieldset>
      </div>
    </div>
  </div>
</section>