<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Proyecto Base Ciris</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <meta http-equiv="Content-Language" content="es">
    <meta name="Subject" content="">
    <meta name="description" content="">
    <meta name="abstract" content="">
    <meta name="classification" content="">
    <meta name="keywords" content="">
    <meta name="country" content="Costa Rica">
    <link rel="shortcut icon" href="/public/imagenes/favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/public/css/ProyectoBase.css">
    <meta name="Robots" content="index,follow">
    <meta name="author" content="Ciris Informatic Solutions" >
    <meta name="revised" content="Ciris Informatic Solutions, 22/08/2014" />
    <script type="text/javascript" src="/public/bower_components/requirejs/require.js"
    data-main="/public/logica/main.js"></script>
  </head>
  <body>
    <header>
      <div ng-include="'/htmls/partials/navegacion.html'"></div>
    </header>
    <section class="paddingInterno">
      <div ng-include="'/htmls/globales/alerta.html'"></div>
      <div ng-if="false">
        <h4 class="text-center" style="margin-top:15%;">
          <i class="fa fa-fw fa-circle-o-notch faa-spin animated"></i> Cargando Aplicación
        </h4>
      </div>
      <div data-ng-view></div>
    </section>
  </body>
</html>