@import "bootstrap/variables.less";
.paddingInterno{
  padding-top: 89px;
}
.texto-blanco{
  color: #fff;
}

.cursor-pointer{
  cursor: pointer;
}

.cursor-block{
  cursor: no-drop;
}

a{
  .cursor-pointer;
}

hr.margenes{
  margin: 5px 0;
}

.fondoBlanco{
  background: #fefefe;
}

.fondoMedico{
  background: url("/public/imagenes/fondo.jpg") no-repeat center center;
  background-size: cover;
}

.titulo{
  color: #fff;
  text-shadow: 0 2px 4px #000;
  padding: 0.5em 0;
  margin: 0;
  text-align: center;
  font-size: 3em;
}
.menu-contextual{
.btn-group{
  background: #111111;
  border-radius: 10px;
  .cancelar{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 1px !important;
  }
}
}
.contenido{
  .fondoBlanco();
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.gabeta{
  .fondoMedico();
}

.interiorGabeta{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px #333;
  padding-top: 15px;
  height: 100%;
}

.texto-grande{
  font-size: 115%;
}

.transicion-fondo{
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.panel-default > .panel-heading {
  color: #fff;
  background-color: #444;
  border-color: #444;
}

