@import "../bootstrap/variables.less";
.ciris-tabs{
  background: transparent;
  border: 0;

  li a{
    border: 0;
    color: #fff;
    text-shadow: 0 1px 1px #000;
  }
  li a:hover{
    border: 0;
    color: @brand-info !important;
    text-shadow: 0 0 0;
  }
  .active a {
    color: @brand-info !important;
    text-shadow: 0 0 0;
  }
}
.table{
  ul{
    background: none;
    border: none;
    margin: 0;
    i{
      font-size:130%;
    }
  }
}