<div class="input-group {{clases}}">
  <input name="passwd" class="form-control" type="{{tipo}}"
  ng-model="modelo">
  <span class="input-group-btn">
  <button class="btn btn-default" type="button" ng-click="cambiarTipo()"><i class="fa fa-eye"></i></button>
  </span>
</div>