<section>
  <div ng-show="!cargado">
    <ul class="list-inline text-center">
      <li><button class="btn btn-default" ng-click="cargar()">Generar Gráfica</button></li>
    </ul>
  </div>
  <canvas name="canvas" class='center-block' ng-show="cargado"></canvas>
</section>