<div class="date-picker" ng-swipe-left="avanzar()" ng-swipe-right="retroceder()">
  <span ng-click="retroceder()" class="cursor-pointer lead texto-blanco">
    <i class="fa fa-chevron-left fa-fw faa-wrench animated-hover"
    ng-class="{'cursor-block':!puedeRetroceder(fecha, inicio)}"></i>
  </span>
  <span class="date-container">
    <span class="lead text-warning"><strong>{{fecha | Fecha:"MMMM"}}</strong></span>
    <span class="texto-blanco"><small>{{fecha | Fecha:"YYYY"}}</small></span>
  </span>
  <span ng-click="avanzar()" class="cursor-pointer lead">
    <i class="fa fa-chevron-right fa-fw faa-wrench animated-hover texto-blanco"
    ng-class="{'cursor-block':!puedeAvanzar(fecha, fin)}"></i>
  </span>
</div>