<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <section ng-switch="vista">
        <div ng-switch-when="existe">
          <form class="form-horizontal" role="form" novalidate name="form" autocomplete="off"
            ng-submit="recuperar(usuario.password)">
            <fieldset class="cuadro-login">
              <h2 class="texto-blanco text-center">Digite una nueva contraseña</h2>
              <hr class="colorgraph">
              <div class="form-group"
                ng-class="{'has-error': (form.passwd.$invalid && form.passwd.$dirty) ||
                (form.passwd2.$invalid && form.passwd2.$dirty),
                'has-success': form.passwd.$valid && form.passwd2.$valid}">
                <label class="col-sm-3 control-label texto-blanco">Contraseña</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control"
                  name="passwd" placeholder=""
                  ng-disabled="bloqueo"
                  ng-model="usuario.password"
                  ng-required="true">
                </div>
              </div>
              <div class="form-group"
                ng-class="{'has-error': form.passwd2.$invalid && form.passwd2.$dirty, 'has-success': form.passwd2.$valid}">
                <label class="col-sm-3 control-label texto-blanco">
                  Compruebe su contraseña
                </label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" name="passwd2" placeholder=""
                  ng-model="usuario.verpassword"
                  password-iguales="usuario.password"
                  ng-disabled="bloqueo"
                  ng-required="true">
                  <small ng-show="form.passwd2.$dirty && form.passwd2.$invalid" class="help-block">Las contraseñas no coinciden.</small>
                  </span>
                </div>
              </div>
              <hr class="colorgraph">
              <div class="form-group">
                <div class=" col-sm-12">
                  <button id="aceptarButton"
                  class="btn btn-lg btn-primary btn-block" type="submit"
                  ng-disabled="formRegistro.$pristine || formRegistro.$invalid || bloqueo">
                  <cis-boton cargando="bloqueo" icono="fa-lock" etiqueta="Reasignar Contraseña"></cis-boton>
                  </button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div ng-switch-default>
          <form class="form-horizontal" role="form" novalidate name="form" autocomplete="off"
            ng-submit="realizar(datos.correo, form)">
            <fieldset class="cuadro-login">
              <h2 class="texto-blanco text-center">Digite su correo electrónico</h2>
              <hr class="colorgraph">
              <div class="form-group"
                ng-class="{'has-error': form.correo.$invalid && form.correo.$dirty, 'has-success': form.correo.$valid}">
                <label class="control-label col-sm-2 texto-blanco lead">Correo</label>
                <div class="col-sm-10">
                  <input name="correo" class="form-control input-lg" type="email" placeholder="usuario@mediciris.com"ng-model="datos.correo"
                  ng-required="true"
                  autofocus ng-focus="true"
                  ng-disabled="bloqueo">
                </div>
              </div>
              <hr class="colorgraph">
              <div class="form-group">
                <div class=" col-sm-12">
                  <button id="aceptarButton"
                  class="btn btn-lg btn-primary btn-block" type="submit"
                  ng-disabled="bloqueo || form.$invalid">
                  <cis-boton cargando="bloqueo" etiqueta="Enviar Correo" icono="fa-envelope"></cis-boton>
                  </button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>